<head>
    <title>{{ title }} | Jasmine Ho</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="description" content="Jasbutts - The artwork of Jasmine Ho">
    <meta name="keywords" content="Jasmine,Ho,jasbutts,art,artwork,illustration,storyboards,sketches">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/public/css/Skeleton-2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/public/css/Skeleton-2.0.4/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
