<div class='image'>
    <a href="/"><img class="logo" src="/public/img/sidebar.jpg" /></a>
</div>
<h1>Jasmine Ho</h1>
<ul id="accordion">
    <li class="dropdown">
        <a href="#">Gallery</a>
        <ul>
            <li><a href="/illustration/">Illustration</a></li>
            <li><a href="/sketches/">Sketches</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/storyboards/">Storyboards</a></li>
            <li><a href="/photography-editing/">Photography &amp; Editing</a></li>
        </ul>
    </li>
</ul>
<ul>
    <li><a href="/about/">About</a>
    <li><a href="/public/jasmine-ho-resume.pdf">Resume</a>
    <li><a href="/store/">Store</a>
</ul>
